html{
    font-family: helvetica ,sans-serif;
    height: 100%;
}
body{
    background-color: #0D415D;
    color: #9BEE36;
    margin: 0;
}
.main_form{
    margin: 20vh 0;
    padding: 10vh;
    display: inline-block;
    width:50%;
    background-color: #04324B;
}
.main_content{
    text-align: center;
    margin: auto;
}

input[type=submit]{
    background-color: #022437;
    color: #6894AC;
    border-radius: 0.7rem;
    border-color: #6894AC;
    padding: 0.5rem;
    margin:0.2rem;
}
input[type=submit]:hover{
    background-color: #022437;
    color: #9BEE36;
    border-radius: 0.7rem;
    border-color: #7989AC;
    cursor: pointer;
}
input[type=text]{
    background-color: #022437;
    color: #6894AC;
    border: none;
}
input::placeholder {
  color: #6894AC;
}
textarea{
    background-color: #022437;
    color: #6894AC;
    border: none;
}
textarea::placeholder {
  color: #6894AC;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.vid_content {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
}
